.cartcont {
        margin: 1rem auto;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        justify-items: center;
        align-items:baseline;
        padding: 2rem;
        border-radius: 25px;
        background-color: #2e333d;
        color: white;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%234f4f4f' fill-opacity='0.35' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
     
}

.micarritocont {
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: rgb(17, 17, 17, 20%);
    border-radius: 10px;
    padding: 0rem 2rem 2rem 2rem;
    margin: 0.5rem;
}

.resumendelpedidocont {
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: rgb(17, 17, 17, 20%);
    border-radius: 10px;
    padding: 0rem 2rem 2rem 2rem;
    margin: 0.5rem;

}

.micarritotitulo {
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.micarritoitemscont {
    display: flex;
    justify-content:space-evenly;
    justify-items: center;
    margin: 0.5rem 0rem;
}

.carritoprod, .carritotipo, .carritocant, .carritoprecio {
    font-size: 0.8rem;
}

.carritoprod {
    width: 100%;
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 0.2rem 0 1rem 0;
    letter-spacing: 0.2rem;
}

.carritoprecio {
    width: 20%;
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: bolder;

}

.carritotipo {
    width: 100%;
    letter-spacing: 0.3rem;
    font-weight: lighter;
    margin: 0;
}

.carritocant {
    font-size: 0.8rem;
    margin: 0;
}

.prodtipocont {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 2rem;
}

.cantpreciocont {
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 2rem;
    
}

.carritocantcont {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    border: 1px white solid;
    justify-content:space-evenly;
    justify-items: center;
    padding: 0.5rem 0.1rem;
    margin-top: 2rem;
}

.fotocart {
    display: flex;
    width: 10rem;
    height: 10rem;
    border-radius: 5px;
    object-fit:cover;
    aspect-ratio: 1/1;
    

}