.cartcont {
        margin: 1rem auto;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        justify-items: center;
        align-items:baseline;
        padding: 2rem;
        border-radius: 25px;
        background-color: #2e333d;
        color: white;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%234f4f4f' fill-opacity='0.35' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
     
}

.micarritocont {
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: rgb(17, 17, 17, 20%);
    border-radius: 10px;
    padding: 0rem 2rem 2rem 2rem;
    margin: 0.5rem;
}

.itemdetailfotodesc {
    display: flex;
    flex-direction: row;
        justify-items: center;
    margin: 0.5rem 0rem;
}

.resumendelpedidocont {
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: rgb(17, 17, 17, 20%);
    border-radius: 10px;
    padding: 0rem 2rem 2rem 2rem;
    margin: 0.5rem;

}

.micarritotitulo {
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.micarritoitemscont {
    display: flex;
    justify-content:space-evenly;
    justify-items: center;
    margin: 0.5rem 0rem;
}

.carritoprod, .carritotipo, .carritocant, .carritoprecio {
    font-size: 0.8rem;
}

.carritoprod {
    width: 100%;
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 0.2rem 0 1rem 0;
    letter-spacing: 0.2rem;
}

.carritopreciototaltit {
    font-size: 0.7rem;
    position: relative;
    bottom: 0.2rem;
    margin-right: 1rem;
    padding: 0.2rem 0.7rem;
    border-radius: 0 5px 5px 5px;
    border: rgb(255, 255, 255, 20%) 1px solid;
    background-color: #2e333d;
}

.carritoprecio {
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 0 auto;
    background-color: white;
    color: black;
    padding: 0.1rem  1rem 0.5rem 1rem ;
    border-radius: 0 0 10px 10px;


}

.carritocant {
    font-size: 0.8rem;
    margin: 0;

}



.carritocantcont {
    display: flex;
    flex-direction: row;
    border: 1px white solid;
    justify-content:space-evenly;
    justify-items: center;
    padding: 0.5rem 0rem;
    margin-top: 2rem;
    border-radius: 10px 0 0 0;
    transition: 0.2s all ease-in-out;
}


.carritoprecio2 {
    font-size: 1.5rem;
    font-weight: bolder;
}

.carritotipo {
    width: 100%;
    letter-spacing: 0.3rem;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 0.2rem;
}


.carritocanteliminar {
    width: 1rem;
    margin: 0rem;
    filter: invert(1);
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.carritocanteliminar:hover {
    filter: invert(0.6);

}


.prodtipocont {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 2rem;
}

.cantpreciocont {
    display: flex;
    flex-direction: column;
    text-align: left;
}


.fotocart {
    display: flex;
    width: 10rem;
    height: 10rem;
    border-radius: 5px;
    opacity: 90%;
    object-fit:cover;
    aspect-ratio: 1/1;
    transition: 0.2s all ease-in-out;
}

.fotocart:hover {
    opacity: 100%;
}

.backhomeimg {
    width: 1.5rem;
    height: 1.5rem;
}

.vaciarcarrito {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    background-color: rgb(192, 104, 104);
    padding: 0.5rem 1rem;
    margin: 1rem auto;
    width: fit-content;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    opacity: 50%;
    filter: blur(0.8px);
}

.vaciarcarrito:hover {
    opacity: 100%;
    letter-spacing: 0.10rem;
    filter: blur(0px);
    background-color: rgb(192, 104, 104);
}


.detallecartrow {
    display: flex;
    flex-direction: row;
    background-color: #2e333d;
    margin: 0.2rem 0;
    padding: 0;
    border-radius: 0 5px 5px 5px;
    border: rgb(255, 255, 255, 20%) 1px solid;
}

.carritoTotalCont {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
}

.catDetalle{
    opacity: 35%;
}

.detallecartrownombre, .detallecartrowcant, .detallecartrowprecio {
font-size: 0.7rem;
}

.detallecartrownombre {
 width: 50%;
 padding-left: 0.5rem;
}

.detallecartrowcant {
width: 25%;
}

.detallecartrowprecio {
    width: 25%;
}


.carritovacio {
    margin-top: 20rem;
    animation: jump infinite 2s ease-in-out;

}

.carritovacio:hover {
    filter: blur(0);
    animation: none;
}


.pagarOrden {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    background-color: rgb(192, 104, 104);
    padding: 0.5rem 1rem;
    margin: 1rem auto;
    width: fit-content;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    opacity: 50%;
    filter: blur(0.8px);
    border: none;
}

.pagarOrden:hover {
    opacity: 100%;
    letter-spacing: 0.10rem;
    filter: blur(0px);
    background-color: rgb(192, 104, 104);
}

.displaynone {
    display: none;
}

.nroOrden {
    font-size: 1.5rem;
    color: white;
    padding: 1rem 2rem;

    width: fit-content;
    margin: 5rem auto;
    border-radius: 10px;
    background-color: rgb(120,168,141);
}

.graciasCont {
    margin-top: 10rem;
}


@keyframes jump {
    0% {filter: blur(0);}

    50% {filter: blur(3px);
    color: rgb(120,168,141);
transform: translateY(5px);}  

    100% {filter: blur(0);}
}

/* MEDIA QUERY */

@media only screen and (min-width: 601px) {

    .none-desktop {
        display: none !important;
    }
 }

 @media only screen and (min-width: 600px) and  (max-width: 1200px) {


 }


 @media only screen and (min-width: 100px) and  (max-width: 600px) {

    .none-mobile {
        display: none !important;
    }

    
    .cartcont {
        margin: 1rem auto;
        width: 85%;
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        border-radius: 15px;
}
    .micarritocont {
        width: 90%;

        padding: 1rem;
        margin: 0rem;
    }

.resumendelpedidocont {
    width: 90%;

    padding: 1rem;
    margin: 1rem 0rem;
}

.micarritoitemscont {
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 0.5rem 0rem;
} 

.fotocart {
    width: 5rem;
    height: 5rem;
    border-radius: 5px;
    
}

.prodtipocont {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 0.5rem;
}

.cantpreciocont {
    width: 4rem;
    margin: 0 auto;
    position: relative;
    bottom: 0.5rem;
}

.carritoprod, .carritotipo, .carritocant, .carritoprecio {
    font-size: 0.7rem;
}

.carritotipo {
    font-size: 0.6rem;
}


.carritoprecio {
    font-size: 0.8rem;
    font-weight: bolder;
    background-color: white;
    color: black;
    padding: 0.5rem 0.7rem ;
    border-radius: 0 0 10px 10px;
}

.nroOrden {
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
    margin: 3rem auto;
}
}
