
.productositemsCont {
    padding: 0rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.cardprocont {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 120px;
    padding: 0rem;
    color: white;
    margin: 1rem;
    justify-content:space-between ;
    border-radius: 20px;
    transition: 0.5s all ease-in-out;
    opacity: 75%;
    cursor: pointer;
}

.cardprocont2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100px;
    height: 120px;
    padding: 0rem 0rem 2rem 0rem;
    color: white;
    margin: 1rem;
    justify-content:space-between ;
    border-radius: 15px;
    transition: 0.5s all ease-in-out;
    opacity: 100%;
    cursor: pointer;
}

.cardprocont:hover {
    opacity: 100%
}

.cardproimg {
    width: 120px;
    height: fit-content;
    object-fit: cover;
    border-radius: 15px;
    transition: 0.2s all ease-in-out;
}

.cardproimgglow {
    width: 120px;
    height: fit-content;
    object-fit: cover;
    border-radius: 15px;
    transition: 0.2s all ease-in-out;
    box-shadow: 0px 0px 10px #dcffee;
}

  
.cardproTitulo {
    font-size: 0.8rem;
    font-weight: bolder;
    letter-spacing: 2px;
    font-family: 'Barlow Condensed', sans-serif;
    margin: 0.5rem 0rem;
    padding: 0rem 2rem;
    color: white;
    animation: wtob infinite 5s ease-in-out;

}


.cardPrecio {
    font-weight: 900;
    font-size: 0.8rem;
    cursor: pointer;
    transition: 0.5s all ease-in-out;


}


@keyframes wtob {
    0% {color: rgb(221, 221, 221);}

    50% {color: rgb(177, 177, 177);}  

    100% {color: rgb(221, 221, 221);}
}
