.footer {
    height: 5rem;
    place-items: center;
    align-items: center;
    background-color: #2e333d;
    width: 100%;
    position: static;
    bottom: 0;
}

.footertexto {
    font-family: 'Montserrat', sans-serif;
    color: rgb(189, 189, 189);
    font-size: 0.5rem;
    letter-spacing: 0.1rem;
    padding-top: 2rem;

}