body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    background-color: #282c34;
  
}

body::-webkit-scrollbar {
  width: 0.2rem;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
background-color: rgb(192, 104, 104);
outline: 1px solid rgb(192, 104, 104);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.borde1 {
  border-left: 3px solid #795282;
}

.borde2 {
  border-left: 3px solid rgb(221, 217, 164);
}

.borde3 {
  border-left: 3px solid rgb(164, 198, 221)
}

.borde4 {
  border-left: 3px solid rgb(221, 164, 164)
}

.borde5 {
  border-left: 3px solid #78a88d;
}






